<div class="data-content">
  <div class="statistics-grid">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="users-table mcard">
   <div class="table-header">
     <h5>العاملين بالمنظومة</h5>
     <a class="btn btn-success" [routerLink]="[ '/users/add' ]"><i class="fas fa-plus"></i>&nbsp;اضافة موظف جديد</a>

   </div>
    <table class="table table-bordered ">
        <thead>
          <tr>
            <th scope="col">م</th>
            <th scope="col">الاسم</th>
            <th scope="col">التليفون</th>
            <th scope="col">العنوان</th>
            <th scope="col">نوع التعاقد</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>محمد عبد المنعم حسين السيد</td>
            <td>01141819680</td>
            <td>فبلا 6 بلوك مدينة التجاريين المقطم</td>
            <td>مثبت</td>
          </tr>
          <tr>
              <th scope="row">2</th>
              <td>محمد عبد المنعم حسين السيد</td>
              <td>01141819680</td>
              <td>فبلا 6 بلوك مدينة التجاريين المقطم</td>
              <td>مثبت</td>
            </tr>
        </tbody>
      </table>
  </div>
  
</div>