<div class="grid-container">

  <div class="form-holder">
      <h5>تسجيل الدخول</h5>
      <br>
    <form [formGroup] = "loginForm" (ngSubmit) ="login()">
      <div class="form-group">
        <label for="username">اسم المستخدم</label>
        <input formControlName ="userName" [ngClass]="{'is-invalid': !userName.valid && submitted}" class="form-control" id="username">
        <div class="invalid-feedback">
            من فضلك قم بأدخال اسم المستخدم.
        </div>
      </div>
      <div class="form-group">
          <label for="password">كلمة المرور </label>
          <input formControlName ="password" class="form-control" [ngClass]="{'is-invalid': !password.valid && submitted}" type="password" id="password">
          <div class="invalid-feedback">
              من فضلك قم بأدخال كلمة المرور.
          </div>
      </div>
      <br>  
      <div *ngIf="failedAttempt" class="alert alert-danger" role="alert">
       هناك خطأ في كلمة المرور او اسم المستخدم
      </div>
      <br>
      <button class="btn btn-primary">
        تسجيل الدخول
      </button>
    </form>
  </div>
  <div class="image-holder"></div>
</div>